<launch>

  <!-- LIVOX -->
    <include file="$(find livox_ros_driver)/launch/livox_lidar.launch">
    <arg name="xfer_format" value="2"/>
    <arg name="publish_freq" value="100"/>

  </include> 

  <!-- TF -->
  <param name="robot_description"
    textfile="$(find lidar_slam)/urdf/robot.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 odom base_link 100" /> 
  <!-- run laserscan_to_pointcloud node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/livox/lidar"/>
        <rosparam>
            transform_tolerance: 0.01

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>

    </node>

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="scan_frame" value="livox_frame"/>
    <param name="odom_frame" value="odom"/>
    <param name="base_frame" value="base_link"/>
    <param name="map_frame" value="map"/>
  </node> 

<!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find lidar_slam)/config/gmapping.rviz" />

</launch>
