<launch>

  <!-- LIVOX -->
    <include file="$(find livox_ros_driver)/launch/livox_lidar.launch">
    <arg name="xfer_format" value="2"/>
    <arg name="publish_freq" value="100"/>

  </include> 

  <!-- TF -->
  <param name="robot_description"
    textfile="$(find lidar_slam)/urdf/robot.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

    <node pkg="turtlebot3_slam" type="flat_world_imu_node" name="flat_world_imu_node" output="screen">
    <remap from="imu_in" to="/livox/imu" />
    <remap from="imu_out" to="/flat_imu" />
  </node>

    

      <!-- Arguments -->
  <arg name="set_base_frame" default="base_link"/>
  <arg name="set_map_frame"  default="map"/>

<!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find lidar_slam)/config/lidar.rviz" />

</launch>
