<launch>
    <arg name="bagfile" value="$(find lidar_slam)/bagfiles/lidar_circle.bag"/>
    
    <arg name="rname" default="a1"/>
    <arg name="robot_path" value="(find $(arg rname)_description)"/>
    <arg name="dollar" value="$"/>

    <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
    <arg name="user_debug" default="false"/>
    
    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find lidar_slam)urdf/dawg.xacro' 
           DEBUG:=$(arg user_debug)"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
     <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <remap from="/joint_states" to="/$(arg rname)_gazebo/joint_states"/>
    </node>
    <!-- cartographer --> 
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find lidar_slam)/config
            -configuration_basename sim.lua"
        output="screen">
        <remap from="points2" to="livox/lidar" />
        <remap from="imu" to="trunk_imu" />
    </node>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" 
        type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

    <node name="playbag" pkg="rosbag" type="play"
      args="$(arg bagfile)" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_slam)/config/lidar.rviz"/> 

</launch>
